<!-- {% extends "index.html" %} {% block content %}
<h1 class="mt-4">College Page</h1>
<p>Manage colleges here.</p>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">College Code</th>
      <th scope="col">College Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CCS</td>
      <td>College of Computer Science</td>
    </tr>
    <tr>
      <td>COE</td>
      <td>College of Engineering</td>
    </tr>
    <tr>
      <td>CSM</td>
      <td>College of Science and Mathematics</td>
    </tr>
  </tbody>
</table>

{% endblock %}
