{% extends "index.html" %}
{% block content %}
<h1 class="mt-4">Programs Page</h1>
<p>Manage programs here.</p>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Program Code</th>
      <th scope="col">Program Name</th>
      <th scope="col">College Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BSCS</td>
      <td>Bachelor of Science in Computer Science</td>
      <td>College of Computer Science</td>
    </tr>
    <tr>
      <td>BSCE</td>
      <td>Bachelor of Science Civil Engineering</td>
      <td>College of Engineering</td>
    </tr>
    <tr>
      <td>BSPHY</td>
      <td>Bachelor of Science in Physics</td>
      <td>College of Science and Mathematics</td>
    </tr>
  </tbody>
</table>

{% endblock %}

