{% extends "index.html" %} {% block content %}

<div class="row mb-4">
  <!-- total colleges -->
  <div class="col-md-4">
    <div class="card shadow-sm p-3 rounded-3 text-center">
      <i class="bi bi-mortarboard fs-1 text-primary"></i>
      <h5 class="mt-2">Registered Colleges</h5>
      <h2>{{ total_colleges }}</h2>
    </div>
  </div>

  <!-- total programs -->
  <div class="col-md-4">
    <div class="card shadow-sm p-3 rounded-3 text-center">
      <i class="bi bi-journal-bookmark fs-1 text-success"></i>
      <h5 class="mt-2">Registered Programs</h5>
      <h2>{{ total_programs }}</h2>
    </div>
  </div>

  <!-- total students -->
  <div class="col-md-4">
    <div class="card shadow-sm p-3 rounded-3 text-center">
      <i class="bi bi-people fs-1 text-warning"></i>
      <h5 class="mt-2">Registered Students</h5>
      <h2>{{ total_students }}</h2>
    </div>
  </div>
</div>

<div class="card shadow-sm p-4 rounded-3">
  <h3>Dashboard</h3>
  <p>This is the dashboard page</p>
</div>

{% endblock %}
