{% extends "index.html" %} {% block content %}

<div class="container-fluid p-4 rounded-4 bg-white shadow-sm">
  <h3 class="mb-3">Users</h3>

  <table id="usersTable" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>admin</td>
        <td>admin@example.com</td>
        <td>admin123</td>
      </tr>
      <tr>
        <td>2</td>
        <td>johndoe</td>
        <td>johndoe@example.com</td>
        <td>admin123</td>
      </tr>
      <tr>
        <td>3</td>
        <td>janedoe</td>
        <td>janedoe@example.com</td>
        <td>admin123</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
